.topicos{
    background: var(--azul-degrade);
    padding: 24px;   
}

.topicos_titulo{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: var(--branco);
    margin-bottom: 1em;
    text-transform: uppercase;
}

.topicos_lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.topicos_item{
    background-color: var(--laranja);
    padding: 16px 12px;
    margin: 5px;
   
}

.topicos_link{
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
}